.profile-container{
    display: flex; 
    margin-top: 1.5rem;
    justify-content: space-between;
}
.about{
    display: flex;
}

.profile-pic{
    height: 29vh;
    width: 13vw;
    background-color: #bbb;
    border-radius: 50%;
}
.artist-about{
    margin-left: 2rem;
}
.artist-about ul li{
    display: inline-flex;
    border-right: 1px solid grey;
    width: 6vw;
    height: 3.5vh;
    align-items: center;
    justify-content: center;
}
.follow-button{
    width: 5vw; 
    height: 4vh; 
    text-align: center; 
    border-radius: 15px;
}
.section-header a{
    text-decoration: none;
    color: white;
    margin-top: 3.5rem;
}
.section-header a:hover{
    border-bottom: 2px solid red;
}
.main-table-header-container{
    display: flex;
    justify-content: space-between;
}
button{
    cursor: pointer;
}
i.bi{
    cursor: pointer;
}
.load-more{
    margin-top: 0.6rem;
    width: 7vw; 
    height: 3.5vh;
}

@media screen and (max-width: 320px){
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .profile-container{
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
    }
    .profile-pic{
        height: 26vh;
        width: 35vw;
        background-color: #bbb;
        border-radius: 50%;
        text-align: center;
    }
    .artist-name{
        margin-bottom: 0px;
    }
    .artist-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        gap: -5px;
    }
    .artist-about p{
        display: none;
    }
    .artist-about h1{
        font-size: 20px;
    }
    .artist-about li{
        list-style: none;
        border-right: none !important;
        font-size: 14px;
        gap: 8px !important;
    }
    .artist-about ul{
        display: flex;
        gap: 2.5rem;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
    .follow-button{
        width: 16vw;
        height: 4vh;
    }
    .tracks-albums{
        display: none;
    }
    .load-more{
        width: 24vw;
        height: 5vh;
        font-size: 10px;
    }
}

@media screen and (max-width:428px) and (min-width: 321px){
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .profile-container{
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
    }
    .profile-pic{
        height: 28vh;
        width: 48vw !important;
        background-color: #bbb;
        border-radius: 50%;
        text-align: center;
    }
    .artist-name{
        margin-bottom: 0px;
    }
    .artist-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        gap: -5px;
    }
    .artist-about p{
        display: none;
    }
    .artist-about h1{
        font-size: 20px;
    }
    .artist-about li{
        list-style: none;
        border-right: none !important;
        font-size: 14px;
        gap: 8px !important;
    }
    .artist-about ul{
        display: flex;
        gap: 2.5rem;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
    .follow-button{
        width: 16vw;
        height: 3vh;
    }
    .tracks-albums{
        display: none;
    }
    .load-more{
        width: 21vw;
        height: 3vh;
        font-size: 10px;
    }
}

/* to be continued */
@media screen and (min-width:768px) and (max-width: 884px){

    .profile-pic{
        height: 25vh;
        width: 30vw !important;
        background-color: #bbb;
        border-radius: 50%;
        text-align: center;
    }

}