* {
  border: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.fa {
  margin: auto;
  transform: translate(-50% -50%);
  font-size: 13px;
}

body {
  font-size: 16px;
  font-family: 'Josefin Sans';
  color: #e2e2e2;
  background-color: #020202;
  user-select: none;
  webkit-user-select: none;
}

.desktop {
  display: none;
}

.mobile {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  padding: auto;
}

.brand .logo {
  height: 30px;
  width: 30px;
  margin: 5px;
  border: 1px solid #ffffff47;
  border-radius: 50%;
}

.brand .group {
  margin: 5px 0 0 5px;
}

.brand .group .tagline {
  font-size: 8px;
  color: #999;
}

.brand .group .app-name {
  font-size: 12px;
  font-family: 'Josefin Sans';
  margin: auto 0;
  line-height: 0;
  font-weight: 400;
}

.group-right {
  display: flex;
  align-items: center;
}

.group-right .get-app {
  border: 1px solid #eee;
  padding: 5px 6px;
  border-radius: 30px;
  font-size: 16px;
}

.group-right .menu-btn {
  height: 24px;
  width: 24px;
  margin: 0 9px;
}

.group-right .menu-btn div {
  margin: 5px 0;
  height: 2px;
  border-radius: 33px;
  background-color: white;
  transition: all .3s;
}

.group-right .menu-btn div:nth-child(1) {
  width: 50%;
  margin-left: 50%;
  transition: all .3s;
}
.group-right .menu-btn div:nth-child(2) {
  width: 100%;
  transition: all .3s;
}

.group-right .menu-btn div:nth-child(3) {
  width: 75%;
  margin-left: 25%;
  transition: all .3s;
}

.group-right .menu-btn:hover div:nth-child(1) {
  width: 100%;
  margin-left: 0;
  transition: all .3s;
}

.group-right .menu-btn:hover div:nth-child(2) {
  width: 50%;
  margin-left: 50%;
  transition: all .3s;
}

.group-right .menu-btn:hover div:nth-child(3) {
  width: 100%;
  margin-left: 0;
  transition: all .3s;
}

.search {
  border-radius: 33px;
  background-color: #2a2a2aa4;
  backdrop-filter: blur(5px);
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

input:focus {
  border-radius: 33px;
  height: 30px;
  color: #495057;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

input::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

input::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

input::placeholder {
  color: #6c757d;
  opacity: 1;
}

.search::before {
  content: "Search";
  position: absolute;
  transform: translate(-50% -50%);
  color: #000;
}

.search input[type="search"] {
  background: none;
  border: 0;
  width: 100%;
  flex-grow: 1;
  padding: 2px 10px;
  color: white;
}

.banner {
  margin: 10px 2px;
  border-radius: 10px;
  background-color: #ffffff47;
  width: 100%;
  height: 16rem;
}

.cat-slide {
  display: none;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 15px 0;
}

.cat-slide::-webkit-scrollbar {
  display: none;
}

.cat-slide .item {
  margin: 0 10px;
  display: grid;
  place-items: center;
}

.cat-slide .item div {
  height: 45px;
  width: 45px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #00f4ff;
}

.cat-slide .item p {
  margin: 5px 0;
  font-size: 10px;
  color: #ddd;
}

.main-content {
  width: 100%;
}

.main-content .category {
  margin: 20px 0;
  overflow-x: scroll;
}

.main-content .category .category-title {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content .category .category-title p {
  color: #29f1ff;
  font-size: 13px;
  letter-spacing: .1px;
  font-weight: 400;
}


.main-content .category .category-title h2 {
  font-size: 24px;
  line-height: 0;
  font-family: "Segoe UI";
}

.underline {
  width: 0;
  height: 5px;
  background-color: red;
  transition: all 0.6s;
  animation: underlineRev 0.5s forwards;
}

.main-content .category .category-title:hover .underline {
  background-color: red;
  animation: underline 0.5s forwards;
}

@keyframes underline {
  from {
    width: 0;
    height: 5px;
  }
  to {
    width: 100%;
    height: 5px;
  }
}

@keyframes underlineRev {
  from {
    width: 100%;
    height: 5px;
  }
  to {
    width: 0;
    height: 5px;
  }
}

.main-content .category .category-items {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  overflow-x: scroll;
}

.main-content .category .category-items::-webkit-scrollbar {
  display: none;
}

.main-content .category .category-items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
}

.main-content .category .category-items .item .image {
  background-color: #ffffff47;
  border-radius: 5px;
  margin: auto;
}

.main-content .category .category-items .item p {
  font-size: 15px;
  margin: 10px 0;
  font-weight: 900;
}

.main-content .for-you {
  width: 100%;
  margin: 10px 5px;
}

.main-content .for-you .header {
  display: flex;
  font-family: 'Josefin Sans';
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.main-content .for-you .header h1 {
  font-size: 28px;
  line-height: 5px;
}

.main-content .for-you .header .menu {
  display: flex;
  flex-direction: column;
}

.main-content .for-you .header .menu span{
  width: 4px;
  height: 4px;
  margin: 5px 9px 0;
  background-color: white;
  border-radius: 50%;
}

.main-content .for-you .body {
  margin: 9px 5px;
  padding: 5px 9px;
  border-radius: 9px;
  width: 95%;
  height: 130px;
  background-color: #ffffff24;
  display: flex;
  justify-content: space-between;
}

.for-you .body figure.image {
  height: calc(100% - 20px);
  width: 7rem;
  margin: auto 5px;
}

.main-content .for-you .body .details {
  margin: auto auto auto 10px;
  height: 110px;
  width: calc(100% - 7rem);
  padding: auto 10px;
  position: relative;
}
.main-content .for-you .body p {
  line-height: .2rem;
}

.main-content .for-you .body p {
  color: #6c6c6c;
  font-size: 12px;
  letter-spacing: .1px;
}

.main-content .for-you .body .track-details {
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  margin-top: 20px;
}

.main-content .for-you .body .actions {
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  margin-right: 5px;
}

.like,.play {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content .for-you .body .actions .like {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.main-content .for-you .body .actions .play {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
}

.charts {
  overflow-x: hidden;
  overflow-y: hidden;
}

.charts .chart-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-x: scroll;
}

.chart-container::-webkit-scrollbar {
  display: none;
}

.charts .chart-container .chart-sub-container {
  width: 330px;
  height: 330px;
  margin: 0 5px;
  background-color: #ffffff47;
  border-radius: 15px;
  padding: 0px 12px;
}

.charts .chart-container .chart-sub-container .chart-cat-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.charts .chart-container .chart-sub-container .chart-cat-header .nav-more {
  font-size: 13px;
  font-weight: 500;
}

.charts .chart-container .chart-sub-container .chart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.charts .chart-container .chart-sub-container .chart-item .rank {
  font-weight: bold;
  font-family: "Times New Roman";
  line-height: 0;
}

.charts .chart-container .chart-sub-container .chart-item .cover {
  background-color: #ffffff45;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 20px;
}

.charts .chart-container .chart-sub-container .chart-item .details .title {
  font-size: 13px;
  line-height: 0;
}

.charts .chart-container .chart-sub-container .chart-item .details .artist {
  font-size: 8px;
}

.download {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00f4ff;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
}

.sidebar {
  flex-basis: 500px;
  height: 100%;
  margin: 0 5px 0 0px;
  padding: 10px 0;
  border-right: 1px solid #081416;
  display: none;
}

.content {
  flex-grow: 1;
  min-width: 200px;
  max-width: 800px;
  margin: 0 0 100px 0;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.footer-container .bottom-bar {
  border-top: 1px solid #282d2e;
  height: 50px;
  background-color: #081416;
  padding-bottom: 5px;
}

.footer-container .bottom-bar .nav-items {
  width: 90%;
  margin: 2px auto;
  background-color: #081416;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-container .bottom-bar .nav-items .item {
  margin: auto;
  display: grid;
  place-items: center;
}

.footer-container .bottom-bar .nav-items .item > div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #00f4ff;
}

.footer-container .bottom-bar .nav-items .item  p {
  font-weight: 500;
  color: #eefbfe;
  font-size: 10px;
  line-height: 0;
}

.audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  left: 0;
  right: 0;
  background-color: black;
  height: 50px;
  border-top: 1px solid #081416;
}

.audio-player .inner-container {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.audio-player .inner-container .track-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.audio-player .inner-container .track-details .metadata {
  margin-right: 5px;
}

.metadata p {
  line-height:5px;
}

.metadata .track-title {
  font-size: 15px;
}

.metadata .track-artist {
  font-size: 8px;
}

.audio-player .inner-container .track-details .album-art {
  background-color: #3b3d3d65;
  height: 40px;
  width: 40px;
  margin: auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
}

.album-art:hover {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
  transition: all 0.5s;
}

.audio-player .inner-container .track-details .album-art:hover img:before {
  transition: all 0.5s linear;
  content:"\f001";
  color: white;
  margin: auto;
}



.audio-player .inner-container .controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto 10px;
}

 .play-pause {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #defefe;
  margin: auto 5px auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-play {
  color: black;
  margin: auto;
}

/* Styles for smaller than 768px */
@media (max-width: 767px) {
 .mobile {
   display: block;
 }
 
 .desktop {
   display: none;
 }
 
.mobile.search {
    display: flex;
    width: 100%;
    height: 30px;
  }  
  
  .container {
    display: block;
  }

  .content {
    max-width: 100%;
  }
  
  .banner {
    height: 8rem;
  }
  
  .cat-slide {
    display: flex;
  }
  
  .main-content .category .category-items .item {
    height: 150px;
    width: 125px;
  }
  
  .main-content .category .category-items .item .image {
    height: 120px;
    width: 120px;
  }
}

/* Styles for greater than 768px */
@media screen and (min-width: 768px) {
  .desktop {
    display: block;
  }
  
  .mobile {
    display: none;
  }
  
  .header-container {
    background-color: black;
    border-bottom: 1px solid gray;
    height: 70px;
  }
  
  .menu-btn {
    display: none;
  }
  
  .desktop.search {
    display: flex;
    width: 70%;
    height: 40px;
  }
  
  .sidebar {
    display: block;
  }
  
  .content {
    margin: 5px 10px 100px 10px;
  }
  
  .main-content .category .category-items .item {
    height: 230px;
    width: 200px;
  }
  
  .main-content .category .category-items .item .image {
    width: 190px;
    height: 190px;
  }
  
  .for-you {
    display: flex;
    justify-content: center;
  }
  
  .for-you .header {
    width: 40% !important;
    display: grid !important;
    place-items: center;
  }
  
  .for-you .body {
    width: 50% !important;
  }
  
  .for-you .body .details {
    width: 100% !important;
    margin: auto !important;
  }
  
  .for-you .body figure {
    display: none;
  }
  
  .for-you .header h1 {
    text-align: center;
    line-height: 0;
    margin-bottom: 0px !important;
  }
  
  .for-you .header .desktop.image {
    display: block;
    height: 110px;
    width: 100%;
    border: 1px solid #081416;
    margin: 0 auto auto auto;
  }
  
  .for-you .menu span {
    display: none;
  }
  
  .main-content .for-you .body {
    height: 9rem;
  }
  
  .for-you .body figure.image {
  height: calc(100% - 10px);
  width: 8rem;
  margin: auto 5px;
}
  
  .main-content .for-you .body .details {
    margin-right: 2rem;
  }
  .footer-container .bottom-bar {
    display: none;
  }
}