.user-info-container{
    display: flex;
    margin: 25px;
    gap: 20px;
    border: 1px solid grey;
    padding: 20px;
    
}
.user-image {
    border: 2px solid grey;
    width: 10vw;
    height: 20vh;
}
.user-about{
    margin-top: -16px;
}
.playlist-title{
    margin: 25px;
}
.album-lists{
    display: flex;
    justify-content: space-between;
    margin: 25px;
  }